<div class="container">
  <h1>93Moove : Une association pour tous</h1>
  <p>
    93Moove est une association loi 1901 opérant dans l'ensemble du département 93.
    Leur but est non-lucratif, et est de permettre aux citoyens et citoyennes du département
    d'accéder à des activités sportives, manuelles ou culturelles.
  </p>
  <p>
    93Moove fonctionne en délégation de service public : ses subventions proviennent des
    départements ou des mairies. Elle assure en contrepartie un service public auprès des habitants
    et habitantes.
  </p>
  <h2>Implantation</h2>
  <p>
    Elle est implémentée dans cinq villes, où elle loue des locaux et réserve des créneaux dans
    des gymnases ou établissements sportifs publics. Ces cinq centres ont des noms :
  </p>
  <ul>
    <li>Saint-OuenMoove (SOM)</li>
    <li>Saint-DenisMoove (SDM)</li>
    <li>La PlaineMoove (LMP)</li>
    <li>AubervilliersMoove (AM)</li>
  </ul>
  <h2>Activités proposées</h2>
  <p>Ils proposent des activités différentes aux habitants et habitantes, en fonction de l'âge :</p>
  <ul>
    <li><strong>Sport :</strong> danses, arts martiaux, fitness, natation, sports d'équipes</li>
    <li><strong>Culture :</strong> dessin, musique, photographie</li>
    <li><strong>Artisanat :</strong> couture, broderie, création de jeux vidéos</li>
  </ul>
  <p>
    Les cours et ateliers sont assurés par des professeur.es payé.es par l'association. Certaines activités
    sont assurées par des animateurs et animatrices salarié.es de l'association. Les cours sont à l'année et
    se déroulent à heure fixe chaque semaine.
  </p>
  <h2>Adhésion</h2>
  <p>
    Les personnes souhaitant adhérer à l'association peuvent s'inscrire en allant aux centres.
    Les tarifs sont proportionnels aux revenus de la famille. Pour les calculer, le personnel administratif
    des centres s'appuie sur le quotient familial des adhérent.es, présent sur leur déclaration de revenus
    aux impôts.
  </p>
</div>
