<div class="container">
    <div class="navbar">
        <ul>
            <li><a href="/cours">Nos cours</a></li>
            <li><a href="/apropos">À propos</a></li>
            <li><a href="/infos">Infos utiles</a></li>
          <!-- Afficher le bouton Adhérents uniquement si l'utilisateur est authentifié -->
          <li *ngIf="authenticated()">
            <a href="/profile">Mon Profil</a>
          </li>

          <li *ngIf="authenticated()">
            <a href="/adherent">Adhérents</a>
          </li>
            <!-- Affiche "Se connecter" si l'utilisateur n'est pas connecté, sinon "Se déconnecter" -->
            <li *ngIf="!authenticated() ">
                <a href="/login">Se connecter</a>
            </li>
          <li *ngIf="authenticated()">
            <button class="logout-button" (click)="logout()">Se déconnecter</button>
          </li>
        </ul>
    </div>

    <div class="sidebar">
        <!-- Optionnel : Vous pouvez garder des liens ou du contenu dans la barre latérale ici si nécessaire -->
    </div>

  <div *ngIf="authenticated()">
    <p>Vous êtes connecté.e</p>
  </div>

    <router-outlet></router-outlet>
</div>
