/* Container principal */
.container {
  display: flex;
  flex-direction: column; /* Mise en page verticale */
  height: 100vh; /* Hauteur totale de la fenêtre */
  margin: 0;
}

/* Barre de navigation en haut */
.navbar {
  width: 100%;
  background-color: #eae9e9;
  padding: 10px 0; /* Espacement en haut et en bas */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre sous la barre */
}

.navbar ul {
  display: flex; /* Alignement horizontal */
  justify-content: center; /* Centrage horizontal */
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  margin: 0 15px; /* Espacement entre les liens */
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: #007BFF;
}

/* Contenu principal */
.main-content {
  flex-grow: 1; /* Laisse cet espace occuper tout l'espace restant */
  padding: 40px;
  background-color: #fff;
  overflow: auto; /* Permet de défiler si nécessaire */
}

/* Pied de page */
.footer {
  background-color: #eae9e9;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin-top: 10px; /* Ajoute un petit espacement avant le pied de page */
}
