<div class="profile-container" *ngIf="user">
  <div class="profile-header">
    <img src="assets/profile.png" alt="Image de Profil" class="profile-image" />

    <div class="profile-details">
      <h2>{{ user.prenom }} {{ user.nom }}</h2>
      <p><strong>Rôle :</strong> {{ user.role }}</p>
    </div>
  </div>
  <div class="profile-actions">
    <button class="edit-button">Modifier le profil</button>
    <button class="logout-button" (click)="logout()">Se déconnecter</button>
  </div>
</div>

<p *ngIf="!user">Aucun utilisateur connecté.</p>
