<div class="cours-container">

  <div *ngIf="isAdmin()">
<button [routerLink]="['/ajouter-cours']">➕ Ajouter un cours</button>
  </div>

  <div class="cours-card" *ngFor="let cours of courss; trackBy: trackById">
    <img [src]="cours.image" alt="{{ cours.nom }}" class="cours-image">
    <h3>{{ cours.nom }}</h3>
    <p><strong>Prof :</strong> {{ cours.prof }}</p>
    <p><strong>Salle:</strong>{{ cours.salle}}</p>

    <div *ngIf="isAdmin()">
    <button [routerLink]="['/modifier-cours', cours.id]">Modifier</button>
    <button (click)="supprimerCours(cours.id)">Supprimer</button>
      </div>
    <button class="inscription-button" (click)="inscrireCours(cours.id)">S'inscrire</button>
  </div>
</div>
